body{
    background-color:white;
    margin: 0 auto;
    padding: 10px;
}

a {
    color:#666;
    text-decoration:none;  
}

.topnav {
    top: 0;
    position: fixed;
    display: block;
    background-color: white;
    opacity: .85;
    z-index:1;
    padding:5px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    
}

.topnav a {
    text-align: center;
    width:200px;
    display:inline-block;
    font-size:12px;
    text-transform:uppercase;
    letter-spacing:.5px;
                 
}

.topnav img {
    width:10px;
    height:auto;
    padding-right:8px;
    
}

.topnav a:hover{
    opacity: .5;
    text-decoration:none;
    border-bottom: 1px solid #7f7f7f;
     
}

.masonry {
    margin: 1em auto;
    max-width: 768 px;
    column-gap: 1em;
}
.masonry img {
    max-width: 100%;
    height: auto;
    display: block;
}



.item {
    background: #fff;
    padding: 1em;
    margin: 0 0 1em;
}

.item img:hover {
    opacity: .75;
    text-decoration: none;
    transition: .25s;
}

@media only screen and (min-width: 1024px) {
    .masonry {
        column-count: 4;
    }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .masonry {
        column-count: 3;
    }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
    .masonry {
        column-count: 2;
    }
}

.content img:hover {
    opacity: .75;
    text-decoration: none;
    transition: .25s;
}

.piece {
    width: 45%;
    
}

.piece2 {
    max-width: 500px;
    padding-left: 20px;
}

.block {
    display: flex;
    margin: 0 auto;
}
