/* 

CSS FOR ALL PAGES

*/

body{
    background-color:white;
    margin-top: 60px;
    padding: 10px;
    font-family: DejaVu Sans Mono, monospace;
}


hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

a {
    color:#666;
    text-decoration:none;  
}

/* 

INDEX.HTML CSS

*/

.topnav {
    top: 0;
    position: fixed;
    background-color: white;
    opacity: .85;
    z-index:1;
    width: 100%;
    line-height: 50px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    list-style-type: none;
}

.logo {
    width: 250px;
    display: inline-block;
}

.logo img {
    width: 180px;
}

.icons {
    padding-left: 20px;
    display: inline-block;
    position: relative;
}

.icons a {
    width:200px;
    display:inline-block;
    font-size:18px;
    text-transform:uppercase;
    letter-spacing:.5px;             
}

.icons img {
    width:10px;
    height:auto;
    padding-right:8px;
}

.icons a:hover{
    opacity: .5;
    text-decoration:none;
    border-bottom: 1px solid #7f7f7f; 
}


.block {
    text-align: center;
}
.div1 {
    padding-top: 20px;
    display: inline;
    vertical-align: middle;

}
.div1 img {
    max-width: 200px;
    height: auto;
}
.div2 {
    padding-left: 30px;
    display: inline-block;
    vertical-align: middle;
    max-width: 500px;
}
.div2 a {
    color: blue;
}

/* 

PROJECTS.HTML CSS

*/

.div3 {
    display: inline;
    vertical-align: middle;
}

.container {
    text-align: center;
}

.content img {
    max-width: 100%;
    height: auto;
}

.content img:hover {
    opacity: .75;
    text-decoration: none;
    transition: .25s;
}




/* 

GALLERY.HTML CSS

*/

.masonry {
    margin: 0;
    max-width: 768 px;
    column-gap: 1em;
}
.masonry img {
    max-width: 100%;
    height: auto;
    display: block;
}

.item {
    background: #fff;
    padding: 0;
    margin: 0 0 1em;
}

.item img:hover {
    opacity: .75;
    text-decoration: none;
    transition: .25s;
}

@media only screen and (min-width: 1024px) {
    .masonry {
        column-count: 4;
    }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .masonry {
        column-count: 3;
    }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
    .masonry {
        column-count: 2;
    }
}

